<%= form_for :filter, url: admin_users_path, html: {method: :get} do |f| %>
<div class="filter">
  <div class="field">  
    <h3><%= t('.filter_by') %></h3>

    <%= f.label :email, User.human_attribute_name(:email)  %>
    <%= f.text_field :email, value: filter(:email) %>

    <%= f.label :role, User.human_attribute_name(:role)  %>
    <%= f.select :role, User.roles_for_select, include_blank: t('.roles_prompt'),
      selected: filter(:role) %>

    <%= f.button t('.filter') %>
    
  </div>

  <div class="field">
    <%= link_to t('.clear'), admin_users_path %>
  </div>
</div>
<% end %>
