<%= form_for :filter, url: admin_users_path, html: {method: :get, class: 'filter-form'} do |f| %>
  <%= link_to '#', data: {dropdown: 'filter-dropdown'} do %>
    <% if filtering? %>
      <%= fa_icon('check-circle fw')  %>
      <%= t('.edit_filters', default: :'defaults.filter.edit_filters') %>
    <% else %>
      <%= t('.open_filters', default: :'defaults.filter.open_filters') %>
    <% end %>
    <%= fa_icon 'caret-down', class: 'arrow' %>
  <% end %>
  <fieldset class="f-dropdown content medium axis-right" id="filter-dropdown" data-dropdown-content>
    <%= f.label :email, User.human_attribute_name(:email)  %>
    <%= f.text_field :email, value: filter(:email) %>

    <%= f.label :role, User.human_attribute_name(:role)  %>
    <%= f.select :role, User.roles_for_select, include_blank: t('.roles_prompt'),
      selected: filter(:role) %>

    <div class="buttons text-right">
      <%= f.button t('.filter'), class: 'button tiny secondary round' %>
      <%= link_to t('.clear'), admin_users_path, class: 'button tiny secondary round' %>
    </div>
  </fieldset>
<% end %>
