<%= form_for([:admin, @user], html: {class: :row}) do |f| %>
  <%#= render partial: 'l/partials/errors', object: @user.errors %>
  <fieldset class="columns small-9 scroll-panel">
    <h2><%= t('.title') %></h2>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :role %>
      <%= f.select :role, User.roles_for_select %>
    </div>
  </fieldset>
  <fieldset class="columns small-3 panel">
    <%= f.button nil, class: [:button, :secondary, :round, :expand] %>
  </fieldset>
<% end %>
