<% user ||= @user %>
<%= form_for([:admin, user], html: {class: :row, data: {remote: true}}) do |f| %>
  <%#= render partial: 'l/partials/errors', object: user.errors %>
  <fieldset class="columns small-9 scroll-panel">
    <h2><%= t(".title.#{user.new_record? ? 'create' : 'update'}") %></h2>
    <div class="field <%= 'error' if f.error?(:email) %>">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :role %>
      <%= f.select :role, User.roles_for_select %>
    </div>
  </fieldset>
  <fieldset class="columns small-3 panel">
    <div class="notification hidden"></div>
    <%= f.button nil, class: [:button, :secondary, :round, :expand], name: :save %>
    <% if f.object.new_record? %>
      <%= f.button t('.add_next'), class: [:button, :white, :round, :expand], name: :add_next %>
    <% end %>
  </fieldset>
<% end %>
