<ul class="submenu">
  <li class="show-more"><%= link_to fa_icon('caret-down'), '#', data: {dropdown: 'submenu-dropdown'} %></li>
  <% if action_name == 'index' %>
  <li><%= link_to fa_icon('plus-circle fw', text: t('.new')), new_admin_user_path(format: :js), data: {remote: true} %></li>
  <% else %>
  <li><%= link_to fa_icon('bars fw', text: t('.index')), admin_users_path %></li>
  <% end %>
  <li class="selection"><%= link_to fa_icon('trash-o fw', text: t('.destroy')), bulk_destroy_admin_users_path, data: {method: :delete, confirm: t('.destroy_confirm', default: "Sure?")} %></li>
  <li class="selection"><%= link_to fa_icon('user fw', text: t('.make_admin')), bulk_admin_admin_users_path(), data: {method: :put} %></li>
  <li class="selection"><%= link_to fa_icon('user fw', text: t('.make_user')), bulk_user_admin_users_path(), data: {method: :put} %></li>
</ul>
<ul id="submenu-dropdown" class="f-dropdown axis-right" data-dropdown-content>
</ul>

