<li class="row" data-context="true">
  <div class="columns small-6">
    <%= f.select_box :id, user %>
    <%= user.email %>
  </div>
  <div class="columns small-3"><%= user.human_role %></div>
  <div class="columns small-3 end">
    <%= l user.created_at, format: :short %>
    <a href="#" data-context-button><%= fa_icon('ellipsis-h') %></a>
  </div>
  <ul data-context-target>
    <li><%= link_to fa_icon('edit fw', text: t('.edit')), edit_admin_user_path(user, format: :js), data: { remote: true} %></li>
    <li><%= link_to fa_icon('trash-o fw', text: t('.destroy')), admin_user_path(user), data: {confirm: t('.confirm', default: 'Sure?'), method: :delete } %></li>
  </ul>
</li>
