<% title t('.title'), scope: :admin %>

<%= render('filter')  %>
<ul class="row items-list-header">
  <li class="columns small-6">
    <%= custom_check_box(:selection, :all_ids, {}, 1, nil) if @users.any? %>
    <%= sort_column :email, User.human_attribute_name(:email) %>
  </li>
  <li class="columns small-3"><%= sort_column :role, User.human_attribute_name(:role), disabled: true %></li>
  <li class="columns small-3"><%= sort_column :created_at, User.human_attribute_name(:created_at) %></li>
</ul>

<% if @users.any? %>
  <%= render 'list' %>
<% elsif filtering? %>
  <div class="no-items">
    <%= t('.no_filtered_items_html') %>
  </div>
<% else %>
  <div class="no-items">
    <%= t('.no_items_html', link: new_admin_user_path(format: :js)) %>
  </div>
<% end %>
