<% title t('.title') %>
<% breadcrumbs_admin link_to(t('.title'), admin_users_path) %>

<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>
<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>

<%= render "filter" %>
<%= render partial: 'l/partials/switcher', object: @users %>

<ul class="items-list two-columns" data-page="<%= @users.current_page %>">
  <li class="header">
    <div class="group">
      <div><%= User.human_attribute_name :email %></div>
      <div><%= User.human_attribute_name :role %></div>
    </div>
  </li>
  <% @users.each do |user| %>
  <li>
    <div class="group">
      <div class="select"><%= selection_tag user %></div>
      <div><%= user.email %></div>
      <div><%= user.human_role %></div>
      <div class="options">
        <%= link_to t('helpers.actions.show'), admin_user_path(user), class: "show", title: t('helpers.actions.show'), target: '_blank' %>
        <%= link_to t('helpers.actions.edit'), edit_admin_user_path(user), class: "edit", title: t('helpers.actions.edit') %>
        <%= link_to t('helpers.actions.destroy'), admin_user_path(user), class: "destroy", title: t('helpers.actions.destroy'),
          data: {confirm: t('helpers.actions.confirm'), method: :delete } %>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<% if @users.any? %>
<%= action_on_selection t('helpers.actions.destroy_selected'), admin_user_path(id: ':id'), data: {method: :delete, confirm: t('helpers.actions.confirm')} %>  
<% end %>


<%= will_paginate @news %>