<% title t('.title') %>

<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>
<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>

<%= render('filter')  %>

<ul class="row items-list-header">
  <li class="columns small-6">
    <%= custom_check_box(:selection, :all_ids, {}, 1, nil) %>
    <%= sort_column :email, User.human_attribute_name(:email) %>
  </li>
  <li class="columns small-3"><%= sort_column :role, User.human_attribute_name(:role) %></li>
  <li class="columns small-3"><%= sort_column :created_at, User.human_attribute_name(:created_at) %></li>
</ul>

<% if @users.any? %>
  <%= render 'list' %>
<% end %>
