<% title t('.title') %>
<% breadcrumbs_admin link_to(t('.title'), users_path) %>

<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>
<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>

<h2><%= @user.email %></h2>
<p><strong><%= User.human_attribute_name :role =%></strong>: <%= @user.human_role %></p>
