<h3><%= t('.title') %></h3>

<% if activities.any? %>
<ul class="activities-list">
<% activities.each do |activity| %>
  <li class="row">
    <div class="columns small-8 description">
      <%= render_activity activity %>
    </div>
    <div class="columns small-4" title="<%= l activity.created_at, format: :long %>">
      <%= time_ago_in_words activity.created_at %> temu
    </div>
  </li>
<% end %>
</ul>
<% else %>
<p><%= t('.no_activities') %></p>
<% end %>
