<div class="row">
  <div class="columns small-12">
      <h3><%= t('.title') %></h3>
  </div>
</div>

<ul class="activities-list">
  <% if activities.any? %>
  <% activities.each do |activity| %>
    <li class="row">
      <div class="columns small-8 description">
        <%= render_activity activity %>
      </div>
      <div class="columns small-4" title="<%= l activity.created_at, format: :long %>">
        <%= time_ago_in_words activity.created_at %> temu
      </div>
    </li>
  <% end %>
  <% if activities.respond_to?(:next_page) and activities.next_page %>
    <li class="row show-more">
      <div class="columns small-12 text-center">
        <%= link_to t('.more'), {page: activities.next_page, format: :js}, data: {remote: true, disable_with: t('.wait', default: "Loading...")} %>
      </div>
    </li>
  <% end %>
<% else %>
  <li class="row no-more">
    <div class="columns small-12 text-center">
      <%= t('.no_activities') %>
    </div>
  </li>
<% end %>
</ul>
