<title><%= yield_title %></title>
<meta name="description" content="<%= yield_description %>" />
<meta name="keywords" content="<%= yield_keywords %>" />
<%= stylesheet_link_tag 'application' %>
<!--[if lt IE 9]><%= javascript_include_tag 'html5shiv' %><![endif]-->
<%= javascript_include_tag 'application' %>
<%= yield :head %>
<%= csrf_meta_tag %>
