<%= form_for(current_user, :url => update_user_admin_path, :html => { :method => :post }) do |f| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :count => current_user.errors.count) %></h2>
      <ul>
        <% current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="group">
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="field">
    <%= f.submit t('admins.show.update') %>
  </div>
<% end %>