<% title = "Panel" %>
<% content_for :submenu do %>
  <%= render "submenu" %>
<% end %>

<% content_for :title do t('admins.show.title') end %>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<% breadcrumbs_admin link_to(t('admins.show.edit_profile'), admin_path) %>

<div class="cols-container">
  <div class="main-column">
    <%= render 'form' %>
  </div>
  <div class="tooltip-column">
    <%= render 'tooltip' %>
  </div>
</div>         