<% title t('.title') %>
<div id="login-box" class="center-box">
  <h2><%= t('.title') %></h2>

  <%= content_tag :div, notice, class: :notice unless notice.blank? %>
  <%= content_tag :div, alert, class: :alert unless alert.blank? %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <%- if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
    <%- end -%>
    <%= f.button t('.submit') %>
  <% end %>

  <div class="shared-links">
    <%= render partial: "devise/shared/links" %>
  </div>
</div>
