<% title [t('admin.title'), '::', t('.title') ] * ' ' %>
<div id="login_box">
  <h2><%= t('.title') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>
    <%= f.label :email %>
    <%= f.text_field :email %>
      <div class="cb"></div>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <% if devise_mapping.rememberable? -%>
      <div class="fl cl remember">
        <span class="fr"><%= f.check_box :remember_me %></span><span class="fl"><%= f.label :remember_me %></span></div>
    <% end -%>
      <div class="cb"></div>
    <%= f.submit t('.submit') %>
  <% end %>

  <%= render partial: "devise/shared/links" %>
</div>
