<%= form_for(@user) do |f| %>
  <%= render partial: 'l/partials/errors', object: @user.errors %>
  <div class="group">
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :set_role %>
      <%= f.collection_select :set_role, ["admin", "user"], :to_s, :to_s, selected: f.object.role %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
