<div id="header">
  <div id="logos">
    <%= link_to image_tag('admin/1000ideas_creative_agency.png', :alt => '1000ideas'), 'http://1000i.pl', :target => "blank"  %>
  </div>
  <div id="login_info">
    <%= t('layout.logged_as') %> <%= current_user.email %><br />
    <%= link_to t('layout.logout'), destroy_user_session_path, :method => :delete %>
  </div>
  <div class="cb"></div>
</div>
<div id="menu">
  <%= admin_menu_link(:main_page, admin_path, class_name: :first, controller: :admins) %>
  <%= admin_menu_link(:users) if current_user.has_role? :admin %>
</div>
<div id="submenu">
  <%= yield :submenu %>
</div>
