<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for?(:admin_title) ? yield(:admin_title) : default_title(:admin) %></title>
    <%= tag :meta, name: :robots, content: 'noindex, nofollow' %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'admins' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= yield :head %>
  </head>
  <body>
    <% if current_user %>
      <%= render('l/admin/header') %>
      <div class="main-content">
        <%= render('l/admin/menu') %>
        <div class="page-content">
          <%= render('l/admin/notification') %>
          <% begin %>
            <%= render('submenu') %>
          <% rescue ActionView::MissingTemplate %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <%= javascript_include_tag 'admins' %>
    <%= javascript_tag do %>
      $(document).foundation();
    <% end %>
  </body>
</html>
