<%%= form_for :filter, url: admin_<%= index_helper %>_path, html: {method: :get} do |f| %>
<div class="filter">
  <div class="field">
    <h3><%%= t('.title') %></h3>

<% for attribute in attributes -%>
    <%%= f.label :<%= attribute.name %>, <%= class_name %>.human_attribute_name(:<%= attribute.name %>)  %>
    <% if attribute.type == :file -%>
    <%%= f.text_field :"<%= attribute.name %>_file_name", value: filter(:<%= attribute.name %>_file_name) %>
    <% else -%>
    <%%= f.text_field "<%= attribute.name %>", value:  filter(:<%= attribute.name %>) %>
    <% end -%>
<% end -%>
    <%%= f.button t('.button') %>
  </div>

  <div class="field">
    <%%= link_to t('.clear'), admin_<%= index_helper %>_path %>
  </div>

</div>
<%% end %>