<%%= form_for :filter, url: admin_<%= index_helper %>_path, html: {method: :get, class: 'filter-form'} do |f| %>
  <%%= link_to '#', data: {dropdown: 'filter-dropdown'} do %>
    <%%= t('.open_filters', default: :'defaults.filter.open_filters') %>
    <%%= fa_icon 'caret-down' %>
  <%% end %>
  <fieldset class="f-dropdown content medium axis-right" id="filter-dropdown" data-dropdown-content>
<%- for attribute in attributes -%>
    <%%= f.label :<%= attribute.name %>, <%= class_name %>.human_attribute_name(:<%= attribute.name %>)  %>
    <%- if attribute.type == :file -%>
    <%%= f.text_field :<%= attribute.name %>_file_name, value: filter(:<%= attribute.name %>_file_name) %>
    <%- else -%>
    <%%= f.text_field :<%= attribute.name %>, value:  filter(:<%= attribute.name %>) %>
    <%- end -%>
<%- end -%>

    <%%= f.label :created_before, t('.created_before')  %>
    <div class="row collapse">
      <div class="columns small-11"><%%= f.text_field :created_before, value: filter(:created_before) %></div>
      <%%= link_to fa_icon('calendar'), '#', class: 'button tiny columns small-1' %>
    </div>

    <%%= f.label :created_after, t('.created_after')  %>
    <div class="row collapse">
      <div class="columns small-11"><%%= f.text_field :created_after, value: filter(:created_after) %></div>
      <%%= link_to fa_icon('calendar'), '#', class: 'button tiny columns small-1' %>
    </div>

    <div class="buttons text-right">
      <%%= f.button t('.filter', default: :'defaults.filter.filter'), class: 'button tiny secondary round' %>
      <%%= link_to t('.clear', default: :'defaults.filter.clear'), admin_<%= index_helper %>_path, class: 'button tiny secondary round' %>
    </div>
  </fieldset>
<%% end %>
