<li class="row" data-context>
  <div class="columns small-6">
    <%%= f.select_box :id, <%= singular_table_name %> %>
    <%%= <%= singular_table_name %>.id %>
  </div>
  <div class="columns small-3">
    <%%= l <%= singular_table_name %>.updated_at, format: :long %>
  </div>
  <div class="columns small-3">
    <%%= l <%= singular_table_name %>.created_at, format: :long %>
    <a href="#" data-context-button><%%= fa_icon('ellipsis-h') %></a>
  </div>
  <ul data-context-target>
    <li><%%= link_to fa_icon('search fw', text: t('helpers.actions.show')), <%= singular_table_name %>_path(<%= singular_table_name %>), target: '_blank' %></li>
    <li><%%= link_to fa_icon('edit fw', text: t('helpers.actions.edit')), edit_admin_<%= singular_table_name %>_path(<%= singular_table_name %>) %></li>
    <li><%%= link_to fa_icon('trash-o fw', text: t('helpers.actions.destroy')), admin_<%= singular_table_name %>_path(<%= singular_table_name %>), data: {confirm: t('helpers.actions.confirm'), method: :delete } %></li>
  </ul>
</li>
