<h2><%%= t('.title') %></h2>

<ul>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <li>
<% for attribute in attributes -%>
<% if attribute.type == :file -%>
        <div><%%= <%= singular_table_name %>.<%= attribute.name %>_file_name %></div>
<% elsif attribute.type =~ /tiny_mce_.*/ -%>
        <div><%%= raw <%= singular_table_name %>.<%= attribute.name %> %></div>
<% else -%>
        <div><%%= <%= singular_table_name %>.<%= attribute.name %> %></div>
<% end -%>
<% end -%>
    <%%= link_to t('show', scope: [:helpers, :actions]), <%= singular_table_name %> %>
  </li>
  <%% end %>
</ul>

<%%= will_paginate @<%= plural_table_name %> %>



