<h2><%%= t('.title') %></h2>

<dl>
<% for attribute in attributes -%>
<dt><%%= <%= class_name %>.human_attribute_name :<%= attribute.name %> %>:</dt>
<% if attribute.type == :file -%>
<dd><%%= @<%= singular_table_name %>.<%= attribute.name %>_file_name %></dd>
<% elsif attribute.type =~ /tiny_mce_.*/ -%>
<dd><%%= raw @<%= singular_table_name %>.<%= attribute.name %> %></dd>
<% else -%>
<dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
<% end -%>
<% end -%>
</dl>

<%%= link_to t('back', scope: [:helpers, :actions]), <%= index_helper %>_path %>