<%% content_for :submenu do %>
<%%= render "submenu" %>
<%% end %>

<%% title t('<%= plural_table_name %>.index.title') %>
<%% breadcrumbs_admin link_to(t('<%= plural_table_name %>.index.title'), <%= index_helper %>_path) %>

<p id="notice"><%%= notice %></p>

<%%= form_tag <%= index_helper %>_path, method: :get do %>

<%%= render "filter" %>
<%%= render partial: 'l/partials/switcher', object: @<%= plural_table_name %> %>

<%- class_name = case attributes.length
      when 1 then 'one-column'
      when 2 then 'two-columns'
      when 3 then 'three-columns'
      when 4 then 'four-columns'
      when 5 then 'five-columns'
      else 'multi-columns'
    end 
-%>
<ul class="items-list <%= class_name %>" data-page="<%%= @<%=plural_table_name %>.current_page %>">
  <li class="header">
    <div class="group">
<% for attribute in attributes -%>
      <div>
        <%%= <%= class_name %>.human_attribute_name :<%= attribute.name %> %>
<% if attribute.type == :file -%>
        <%%= sort_tag :<%= attribute.name %>_file_name, :asc %>
        <%%= sort_tag :<%= attribute.name %>_file_name, :desc %>
<% else -%>
        <%%= sort_tag :<%= attribute.name %>, :asc %>
        <%%= sort_tag :<%= attribute.name %>, :desc %>
<% end -%>
      </div>
<% end -%>
    </div>
  </li>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <li>
    <div class="group">
      <div class="select"><%%= selection_tag <%= singular_table_name %> %></div>
<% for attribute in attributes -%>
<% if attribute.type == :file -%>
        <div><%%= <%= singular_table_name %>.<%= attribute.name %>_file_name %></div>
<% elsif attribute.type =~ /tiny_mce_.*/ -%>
        <div><%%= raw <%= singular_table_name %>.<%= attribute.name %> %></div>
<% else -%>
        <div><%%= <%= singular_table_name %>.<%= attribute.name %> %></div>
<% end -%>
<% end -%>
      <div class="options">
        <%%= link_to t('edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "edit", title: t('edit') %>
        <%%= link_to t('show'), <%= singular_table_name %>, class: "show", title: t('show'), target: "_blank" %>
        <%%= link_to t('destroy'), <%= singular_table_name %>, class: "destroy", title: t('destroy'), data: { confirm: t('confirm'), method: :delete } %>
      </div>
    </div>
  </li>    
  <%% end %>
</ul>

<%% end %>

<%%= will_paginate @<%= plural_table_name %> %>



