<%% title t('.title') %>
<%% breadcrumbs_admin link_to(t('admin.<%= plural_table_name %>.index.title'), admin_<%= index_helper %>_path),
  link_to(t('.title'), new_admin_<%= singular_table_name %>_path) %>

<% [:alert, :notice].each do |name| %>
<%%= content_tag(:p, flash[:<%= name %>], class: :<%= name %>) if flash.key? :<%= name %> %>
<% end %>

<div class="cols-container">
  <div class="main-column">
    <%%= render 'form' %>
  </div>
  <div class="tooltip-column">
    <%%= render 'tooltip' %>
  </div>
</div>   

<%%= link_to t('back', scope: [:helpers, :actions]), admin_<%= index_helper %>_path %>
