<% title [t('admin.title'), '::', t('.title') ] * ' ' %>
<div class="center-box" id="register-box">
  <h2><%= t('.title') %></h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render partial: 'devise/shared/errors', object: resource.errors %>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password, title: t('.blank') %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %></p>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :current_password, title: t('.current') %>
      <%= f.password_field :current_password %>
    </div>

    <%= f.button t('.submit') %>
  <% end %>
</div>

<div class="center-box" id="cancel-account-box">
  <h2><%= t('.cancel.title') %></h2>
  
  <p><%= link_to t('.cancel.cancel'), registration_path(resource_name), confirm: t('.cancel.sure'), method: :delete %>.</p>
</div>
