<% title t('.title') %>
<% breadcrumbs_admin link_to(t('.title'), admin_path) %>

<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>
<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>

<div class="cols-container">
  <div class="main-column">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render partial: 'devise/shared/errors', object: resource.errors %>
    <div class="group">
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label :password, data: {tip: t('.blank')} %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="field">
        <%= f.label :current_password, data: {tip: t('.current')} %>
        <%= f.password_field :current_password %>
      </div>
    </div>
    <div class="actions">
      <%= f.button t('.submit') %>
    </div>

    <h2><%= t('.cancel.title') %></h2>
    <div class="group">
    <p><%= link_to t('.cancel.cancel'), registration_path(resource_name), confirm: t('.cancel.sure'), method: :delete %>.</p>
  </div>
  <% end %>



</div>
  <div class="tooltip-column">
    <div class="tooltip-box">
      <span class="bulb"><%= t('.tooltip.head') %></span>
      <p><%= t('.tooltip.content') %></p>
    </div>
  </div>
</div>
