<% title [t('admin.title'), '::', t('.title') ] * ' ' %>
<div id="register_box">
  <h2><%= t('.title') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <% if resource.errors.any? %>
      <div class="alert">
        <%= t('errors.template.header', count: resource.errors.count, model: resource_name) %>
      </div>
      <ul class="error-list">
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg   %></li>
        <% end %>
      </ul>
    <% end %>

    <p><%= f.label :email %></p>
    <p><%= f.text_field :email %></p>

    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation %></p>

    <p><%= f.submit t('.register') %></p>
  <% end %>

  <%= render partial: "devise/shared/links" %>
</div>
