<%= form_for :newsletter, url: send_mail_admin_newsletter_mails_path, method: :post do |f| %>
  <h2><%= t('.addresses_list') %></h2>
  <p><%= t('.addresses_list_info') %></p>
  <ul class="email-list small-block-grid-4">
    <% @emails.each do |email| %>
      <li class=""><%= f.select_box :mail, email, checked: true %><%= email.mail %></li>
    <% end %>
  </ul>

  <h2><%= t('.mail') %></h2>
  <p><%= t('.mail_info') %></p>
  <div class="group">
    <div class="field_with_tinymce">
      <%= f.label :text, t('.mail') %>
      <%= f.tinymce :text, value: params[:text], type: :advance %>
    </div>

  </div>

  <%= f.button t('.send_mail') %>
<% end %>
