<li class="row" data-context>
  <div class="columns small-6">
    <%= f.select_box :id, newsletter_mail %>
    <%= newsletter_mail.mail %>
  </div>
  <div class="columns small-3"><%= l newsletter_mail.created_at, format: :long %></div>
  <div class="columns small-3">
    <a href="#" data-context-button><%= fa_icon('ellipsis-h') %></a>
  </div>
  <ul data-context-target>
    <% unless newsletter_mail.confirmed? %>
    <li><%= link_to fa_icon('check-circle fw', text: t('helpers.actions.mail_confirm')), confirm_admin_newsletter_mail_path(newsletter_mail), data: {method: :put} %></li>
    <% end %>
    <li><%= link_to fa_icon('trash-o fw', text: t('helpers.actions.destroy')), admin_newsletter_mail_path(newsletter_mail), data: {confirm: t('helpers.actions.confirm'), method: :delete } %></li>
  </ul>
</li>
