<ul class="submenu">
  <li class="show-more"><%= link_to fa_icon('caret-down'), '#', data: {dropdown: 'submenu-dropdown'} %></li>
  <% if action_name == 'index' %>
    <% if params[:unconfirmed] %>
      <li><%= link_to fa_icon('bars fw', text: t('.index')), admin_newsletter_mails_path %></li>
    <% else %>
      <li><%= link_to fa_icon('bars fw', text: t('.unconfirmed')), unconfirmed_admin_newsletter_mails_path %></li>
    <% end %>
    <li><%= link_to fa_icon('envelope-o fw', text: t('.send_mail')), send_mail_admin_newsletter_mails_path %></li>
  <% else %>
    <li><%= link_to fa_icon('bars fw', text: t('.index')), admin_newsletter_mails_path %></li>
    <li><%= link_to fa_icon('bars fw', text: t('.unconfirmed')), unconfirmed_admin_newsletter_mails_path %></li>
  <% end %>
</ul>
<ul id="submenu-dropdown" class="f-dropdown axis-right" data-dropdown-content>
</ul>
