<% title t('.title') %>
<% breadcrumbs_admin link_to(t('.title'), admin_newsletter_mails_path) %>

<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>
<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>

<ul class="items-list one-column" data-page="<%= @newsletter_mail.current_page %>">
  <li class="header">
    <div class="group">
      <div><%= L::NewsletterMail.human_attribute_name :mail %></div>
    </div>
  </li>
  <% @newsletter_mail.each do |news| %>
  <li>
    <div class="group">
      <div class="select"><%= selection_tag news %></div>
      <div><%= news.mail %></div>
      <div class="options">
        <%= link_to t('helpers.actions.destroy'), admin_newsletter_mail_path(news), class: "destroy", title: t('helpers.actions.destroy'), data: {confirm: t('helpers.actions.confirm'), method: :delete } %>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<%= will_paginate @newsletter_mail %>
