<% content_for :submenu do %>
  <%= render "submenu" %>
<% end %>

<% title t('.title') %>
<% breadcrumbs_admin link_to(t('.title'), send_mail_admin_newsletter_mails_path) %>

<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>
<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>

<div class="cols-container">
  <div class="main-column">
    <%= render 'form' %>
  </div>
  <div class="tooltip-column">
    <%= render 'tooltip' %>
  </div>
</div>
