<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_title %></title>
    <%= tag :meta, name: :robots, content: 'noindex, nofollow' %>
    <%= stylesheet_link_tag 'admin/admin_login' %>
    <%= javascript_include_tag 'admins' %>
    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
