<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "l/partials/facebook/head" %>
  </head>
  <body>
    <%= render :partial => "l/partials/facebook/integration" %>
    <%= render :partial => "l/partials/facebook/header" %>
    <%= render :partial => "l/partials/facebook/content" %>
    <%= render :partial => "l/partials/facebook/footer" %>
    <%= render :partial => "l/partials/analytics" %>
  </body>
</html>
