<%= form_for(@news, url: admin_news_path(@news), method: 'put', html: { multipart: true }) do |f| %>
  <%= render partial: 'l/partials/errors', object: @news.errors %>
  <div class="locales-tabs">
    <ul>
      <% I18n.available_locales.each do |el| %>
        <li><a href="#tab-<%= el %>"><%=  el.to_s  %></a></li>
      <% end %>
    </ul>

    <%= f.fields_for :translations do |builder| %>
      <div id="tab-<%= builder.object.locale %>" class="group">
        <%= builder.hidden_field :locale %>
        <div class="field">
          <%= builder.label :title %>
          <%= builder.text_field :title %>
        </div>
        <div class="field field_with_tinymce">
          <%= builder.label :content %>
          <%= builder.tinymce :content %>
        </div>
      </div>
    <% end %>

  </div>
  <div class="group">
    <div class="field">
      <%= f.label :published_at_date %>
      <div class="row collapse input-calendar">
        <div class="columns small-11"><%= f.text_field :published_at_date %></div>
        <%= link_to fa_icon('calendar'), '#', class: 'button tiny columns small-1' %>
      </div>
    </div>
    <div class="field">
      <%= f.label :photo %>
      <%= f.file_field :photo, class: 'custom-file-input', data: {label: t('.select_photo') } %>
    </div>
    <%= content_tag :div, class: 'field' do %>
      <%= f.label :photo_delete %>
      <%= f.check_box :photo_delete %>
    <% end if @news.photo? %>
    <%= content_tag :div, class: 'field' do %>
      <%= f.label :photo_image %>
      <%= image_tag @news.photo.url(:small)  %>
    <% end if @news.photo? %>
  </div>


  <div class="actions">
    <%= f.button %>
  </div>
<% end %>
