<li class="row" data-context>
  <div class="columns small-6">
    <%= f.select_box :id, news %>
    <% if news.published? %>
      <%= news.title %>
    <% else %>
      <%= fa_icon 'eye-slash fw', text: news.title %>
    <% end %>
  </div>
  <div class="columns small-3">
    <%= l news.published_at, format: :long %>
  </div>
  <div class="columns small-3">
    <%= l news.updated_at, format: :long %>
    <a href="#" data-context-button><%= fa_icon('ellipsis-h') %></a>
  </div>
  <ul data-context-target>
    <li><%= link_to fa_icon('search fw', text: t('helpers.actions.show')), news_path(news), target: '_blank' %></li>
    <li><%= link_to fa_icon('edit fw', text: t('helpers.actions.edit')), edit_admin_news_path(news, format: :js), data: {remote: true} %></li>
    <li><%= link_to fa_icon('trash-o fw', text: t('helpers.actions.destroy')), admin_news_path(news), data: {confirm: t('helpers.actions.confirm'), method: :delete } %></li>
  </ul>
</li>
