<% title t('.title'), scope: :admin %>

<%= render('filter')  %>

<ul class="row items-list-header">
  <li class="columns small-6">
    <%= custom_check_box(:selection, :all_ids, {}, 1, nil) if @news.any? %>
    <%= sort_column :title, L::News.human_attribute_name(:title) %>
  </li>
  <li class="columns small-3"><%= sort_column :published_at, L::News.human_attribute_name(:published_at) %></li>
  <li class="columns small-3"><%= sort_column :updated_at, L::News.human_attribute_name(:updated_at) %></li>
</ul>

<% if @news.any? %>
  <%= render('list') %>
<% elsif filtering? %>
  <div class="no-items">
    <%= t('.no_filtered_items_html') %>
  </div>
<% else %>
  <div class="no-items">
    <%= t('.no_items_html', link: new_admin_news_path(format: :js)) %>
  </div>
<% end %>
