<% title t('.title'), scope: :admin %>

<%= render('filter')  %>

<ul class="row items-list-header">
  <li class="columns small-6">
    <%= custom_check_box(:selection, :all_ids, {}, 1, nil) %>
    <%= sort_column :title, L::News.human_attribute_name(:title) %>
  </li>
  <li class="columns small-3"><%= sort_column :published_at, L::News.human_attribute_name(:published_at) %></li>
  <li class="columns small-3"><%= sort_column :updated_at, L::News.human_attribute_name(:updated_at) %></li>
</ul>

<% if @news.any? %>
  <%= render('list') %>
<% end %>

<%#  L::News.mass_actions_for_select %>
