<%= form_for(@page, url: admin_pages_path, method: 'post') do |f| %>
  <%= render partial: 'l/partials/errors', object: @page.errors %>
  <div class="group">
    <% unless @parents.blank? %>
    <div class="field">
      <%= f.label :parent %>
      <%= f.collection_select :parent_id, @parents, :id, :title, prompt: 'Wybierz' %>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div class="field">
      <%= f.label :meta_description %>
      <%= f.text_field :meta_description %>
    </div>
    <div class="field">
      <%= f.label :meta_keywords %>
      <%= f.text_field :meta_keywords %>
    </div>
  </div>
  <div class="locales-tabs">
    <ul>
      <% I18n.available_locales.each do |el| %>
        <li><a href="#tab-<%= el %>"><%=  el.to_s  %></a></li>
      <% end %>
    </ul>
    <%= f.fields_for :translations do |builder| %>
      <div id="tab-<%= builder.object.locale %>" class="group">
        <%= builder.hidden_field :locale %>
        <div class="field">
          <%= builder.label :title %>
          <%= builder.text_field :title %>
        </div>
        <div class="field field_with_textarea">
          <%= builder.label :content %>
          <%= builder.tinymce :content, type: :advance %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button %>
  </div>
<% end %>
