<li class="row" data-context data-id="<%= page.id %>">
  <div class="columns small-4"  data-equalizer-watch>
    <a href="#" data-sort-handle><%= fa_icon('ellipsis-v fw') %></a>
    <%= f.select_box :id, page %>
    <%= fa_icon('eye-slash fw') if page.hidden_flag? %>
    <%= page.title %>
  </div>
  <div class="columns small-2" data-equalizer-watch>
    <%= page.url %>
  </div>
  <div class="columns small-3" data-equalizer-watch>
    <%= l page.created_at, format: :short %>
  </div>
  <div class="columns small-3" data-equalizer-watch>
    <%= l page.created_at, format: :short %>
    <a href="#" data-context-button><%= fa_icon('ellipsis-h') %></a>
  </div>

  <ul data-context-target>
    <% if page.hidden_flag? %>
      <li><%= link_to fa_icon('eye fw', text: t('helpers.actions.unhide')), unhide_admin_page_path(page) %></li>
    <% else %>
      <li><%= link_to fa_icon('eye-slash fw', text: t('helpers.actions.hide')), hide_admin_page_path(page) %></li>
    <% end %>

    <li><%= link_to fa_icon('search fw', text: t('helpers.actions.show')), admin_page_path(page), target: '_blank' %></li>
    <li><%= link_to fa_icon('edit fw', text: t('helpers.actions.edit')), edit_admin_page_path(page) %></li>
    <li><%= link_to fa_icon('trash-o fw', text: t('helpers.actions.destroy')), admin_page_path(page), data: {confirm: t('helpers.actions.confirm'), method: :delete } %></li>
  </ul>
  <% unless filtering? %>
  <ul class="children columns small-12">
    <% if page.children.any? %>
      <% page.children.ordered.each do |p| %>
        <%= render 'page', page: p, f: f %>
      <% end %>
    <% end %>
  </ul>
  <% end %>
</li>
