<li>
  <div class="group<%= " unactive" if page.hidden_flag? %>" data-context="true">
    <div class="select"><%= f.check_box :ids, {multiple: true}, page.id, nil %></div>
    <div><%= page.title %></div>
    <div><%= page.url %></div>
    <a href="#" data-context-button="true"></a>
    <div class="options" data-context-target="true">
      <% if page.hidden_flag? %>
        <%= link_to t('helpers.actions.unhide'), unhide_admin_page_path(page), class: "unhide", title: t('helpers.actions.unhide') %>  
      <% else %>
        <%= link_to t('helpers.actions.hide'), hide_admin_page_path(page), class: "hide", title: t('helpers.actions.hide') %>
      <% end %>
      
      <%= link_to t('helpers.actions.show'), admin_page_path(page), class: "show", title: t('helpers.actions.show'), target: '_blank' %>
      <%= link_to t('helpers.actions.edit'), edit_admin_page_path(page), class: "edit", title: t('helpers.actions.edit') %>
      <%= link_to t('helpers.actions.destroy'), admin_page_path(page), class: "destroy", title: t('helpers.actions.destroy'), data: {confirm: t('helpers.actions.confirm'), method: :delete } %>
    </div>
  </div>
  <% if page.children.any? %>
    <ul>
      <% page.children.ordered.each do |p| %>
        <%= render 'page_list_item', page: p, f: f %>
      <% end %>
    </ul>    
  <% end %>
</li>