<% title t('.title') %>
<% breadcrumbs_admin link_to(t('.title'), admin_pages_path) %>

<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>
<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>

<%= form_for :selection, url: [:selection, :admin, :pages], html: {method: :post} do |f| %>
<ul class="items-list two-columns sortable" data-url="<%= after_admin_page_path(id: ':id', target_id: ':target_id') %>">
  <li class="header">
    <div class="group">
      <div><%= L::Page.human_attribute_name :title %></div>
      <div><%= L::Page.human_attribute_name :url %></div>
    </div>
  </li>
  <% @pages.each do |page| %>
    <%= render 'page_list_item', page: page, f: f %>
  <% end %>
</ul>
<%= f.select :action, L::Page.mass_actions_for_select, include_blank: t('prompt', scope: [:helpers, :mass]) %>
<% end %>
