<% content_for :submenu do %>
  <%= render "submenu" %>
<% end %>


<% title t('.title') %>
<% breadcrumbs_admin link_to(t('.title'), news_index_path) %>

<p id="notice"><%= notice %></p>
<% if @news.any? %>
<%= render partial: 'l/partials/switcher', object: @news %>


<ul class="items-list one-column" data-page="<%= @news.current_page %>">
  <li class="header">
    <div class="group">
      <div><%= L::News.human_attribute_name :title %></div>
    </div>
  </li>
  <% @news.each do |news| %>
  <li>
    <div class="group">
      <div class="select"><%= selection_tag news %></div>
      <div><%= news.title %></div>
      <div class="options">
        <%= link_to t('helpers.actions.show'), news_path(news), class: "show", title: t('helpers.actions.show'), target: '_blank' %>
        <%= link_to t('helpers.actions.edit'), edit_news_path(news), class: "edit", title: t('helpers.actions.edit') %>
        <%= link_to t('helpers.actions.destroy'), news_path(news), class: "destroy", title: t('helpers.actions.destroy'),
          data: {confirm: t('helpers.actions.confirm'), method: :delete } %>
      </div>
    </div>
  </li>
  <% end %>
</ul>


<%= action_on_selection t('helpers.actions.destroy_selected'), news_path(id: ':id'), data: {method: :delete, confirm: t('helpers.actions.confirm')} %>

<%= will_paginate @news %>
  
<% end %>
