<% breadcrumbs t('.title') %>
<% title t('.title') %>

<h2><%= t('.title') %></h2>
<% unless @news.blank? %>
  <ul id="news_list">
    <% @news.each do |news| %>
      <li>
        <h3>
          <%= news.title %>
        </h3>
        <div class="date"><%= l news.created_at, format: '%d-%m-%Y %H:%M' %></div>
        <%= content_tag :div, class: 'image' do %>
          <%= image_tag news.photo.url(:thumb) %>
        <% end if news.photo? %>
        <div class="content"><%=short news.content, 160 %></div>
        <div class="more"><%= link_to t('helpers.actions.more'), news_path(news) %></div>
      </li>
    <% end %>
  </ul>
<% end %>
<%= will_paginate @news %>
