<% title t('.title'), scope: :admin %>

<div class="dashboard">
  <div class="row">
    <div class="columns small-12">
      <h2><%= t('.title') %></h2>
      <p><%= t('.welcome') %></p>

      <h3><%= t('.shortcuts') %></h3>
      <ul class="shortcuts">
        <li><%= link_to fa_icon('file-text-o', text: t('.shortcut_sample')), '#' %></li>
        <li><%= link_to fa_icon('file-text-o', text: t('.shortcut_sample')), '#' %></li>
        <li><%= link_to fa_icon('file-text-o', text: t('.shortcut_sample')), '#' %></li>
        <li><%= link_to fa_icon('file-text-o', text: t('.shortcut_sample')), '#' %></li>
      </ul>
    </div>
</div>

