<% title t('.title'), scope: :admin %>

<div class="row login-box">
  <div class="small-12 columns">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name)) do |f| %>
    <%= render partial: 'devise/shared/errors', object: resource.errors %>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <%= f.button t('.submit') %>
  <% end %>

  <div class="shared-links">
    <%= render partial: "devise/shared/links" %>
  </div>
</div>
