<div>
  <%= form_for(@gallery, url: gallery_path(@gallery.id), method: :put) do |f| %>
    <%= render partial: 'l/partials/errors', object: @gallery.errors %>
    <div id="form_tabs" class="tabs_container">
      <ul>
        <% k = 0 %>
        <% I18n.available_locales.each do |el| %>
          <li><a href="#tab<%= k = k+1 %>"><%=  el.to_s  %></a></li>
        <% end %>
      </ul>

      <% i = 0 %>
      <%= f.fields_for :translations do |builder| %>
        <div id="tab<%= i = i+1 %>">
          <%= builder.hidden_field :locale %>
          <div class="field">
            <%= builder.label :name %>
            <%= builder.text_field :name %>
          </div>
          <div class="field field_with_tinymce">
            <%= builder.label :content %>
            <%= builder.text_area :content, class: "mceSimple" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

    <% end #END FORM %>

    <%= form_tag gallery_photos_url(@gallery, format: :js), method: :post do %>
    <div class="group upload" id="upload_photo">
      <%= file_upload_tag :photo, data: {label: t('.upload'), queue: 'upload_photo_queue' } %>
      <h2><%= t('.upload_queue') %></h2>
      <div class='queue' id="upload_photo_queue"></div>
    </div>
    <div id="show_photos">
      <%= render partial: "l/gallery_photos/show_photos" %>
    </div>
    <% end %>


  
  
</div>
