<tr class="<%= cycle('odd', 'even') %>">

  <td class="gallery_name"><%= gallery_item.name %></td>
  <td><%=raw gallery_item.content %></td>
  <td class="options">
    <%= link_to t('destroy'), gallery_path(gallery_item),
      confirm: gallery_item.children.empty? ? t('confirm') : t('gallery_warning'),
      method: :delete, class: "destroy", title: t('destroy') %>
    <%= link_to t('show'), gallery_path(gallery_item), class: "show", title: t('show'), target: "blank" %>
    <%= link_to t('edit'), edit_gallery_path(gallery_item), class: "edit", title: t('edit') %>
  </td>
</tr>
<tr class="spacer"><td></td></tr>
