<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>
<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>

<h2><%= @gallery.name %></h2>
<p><%=raw @gallery.content %></p>

<ul class="show_photos">
  <% @gallery.gallery_photos.each do |photo| %>
    <li><%= collection_lightbox_tag(photo.photo, 'gallery', target: '_blank') %></li>
  <% end %>
</ul>
<%= link_to t('helpers.actions.back'), "/galleries/list" %>
