<p id="notice"><%= notice %></p>
<h2><%= @gallery.name %></h2>
<p><%=raw @gallery.content %></p>

<ul class="show_photos">
  <% @gallery.gallery_photos.each do |photo| %>
    <li><%= collection_lightbox_tag(photo.photo, 'gallery', target: '_blank') %></li>
  <% end %>
</ul>
<%= link_to t('back'), "/galleries/list" %>
