<%= form_for(@gallery, url: admin_gallery_path(@gallery.id), method: :put, html: {multipart: true, class: :row, data: {remote: true}}) do |f| %>
  <fieldset class="columns small-9 scroll-panel">
    <h2><%= t(".title") %></h2>
    <% if  I18n.available_locales.length > 1 %>
      <dl class="tabs" data-tab>
        <% I18n.available_locales.each_with_index do |el, idx| %>
          <dd class="<%= 'active' if idx == 0 %>"><a href="#tab-<%= el %>"><%=  el.to_s  %></a></dd>
          <% content_for(:tabs_content) do %>
            <%= f.fields_for :translations, f.object.translation_for(el) do |builder| %>
              <div id="tab-<%= el %>" class="content <%= 'active' if idx == 0 %>">
                <%= builder.hidden_field :locale %>
                <div class="field">
                  <%= builder.label :name %>
                  <%= builder.text_field :name %>
                </div>
                <div class="field">
                  <%= builder.label :content %>
                  <%= builder.tinymce :content, type: :advance %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </dl>

      <div class="tabs-content">
        <%= content_for(:tabs_content) %>
      </div>
    <% else %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :content %>
        <%= f.tinymce :content, type: :advance %>
      </div>
    <% end %>

    <div class="group upload" id="upload_photo">
      <%= link_to '#', class: [:button, :white, :round, :'custom-file-button'] do %>
        <%= fa_icon 'upload fw', text: t('.upload') %>
        <%= file_field_tag :upload_gallery_photo, multiple: true, data: {queue: 'upload_photo_queue', url: admin_gallery_photos_url(@gallery, format: :js)} %>
      <% end %>
      <script type="text/javascript">
        lazy.async_file_upload('upload_gallery_photo', {type: "POST"});
      </script>
      <div class='queue' id="upload_photo_queue" data-template="<%= render('upload').to_str %>" style="display: none;">
        <h2><%= t('.upload_queue') %></h2>
      </div>
    </div>
    <div id="show_photos">
      <%= render partial: "l/admin/gallery_photos/show_photos" %>
    </div>
  </fieldset>
  <fieldset class="columns small-3 panel">
    <div class="notification hidden"></div>
    <%= f.button nil, class: [:button, :secondary, :round, :expand], name: :commit %>
  </fieldset>
<% end %>


