<%= form_for(@gallery, url: admin_galleries_path, method: :post) do |f| %>
  <%= render partial: 'l/partials/errors', object: @gallery.errors %>

  <div class="locales-tabs">
    <ul>
      <% I18n.available_locales.each do |el| %>
        <li><a href="#tab-<%= el %>"><%=  el.to_s  %></a></li>
      <% end %>
    </ul>
    <%= f.fields_for :translations do |builder| %>
      <div id="tab-<%= builder.object.locale %>" class="group">
        <%= builder.hidden_field :locale %>
        <div class="field">
          <%= builder.label :name %>
          <%= builder.text_field :name %>
        </div>
        <div class="field field_with_tinymce">
          <%= builder.label :content %>
          <%= builder.tinymce :content %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button %>
  </div>
<% end %>
