<li class="row" data-equalizer data-context>
  <div class="column small-3" data-equalizer-watch>
    <%= f.select_box :id, gallery %>
    <%= image_tag(gallery.thumbnail, alt: gallery.name) unless gallery.thumbnail.nil? %>
  </div>
  <div class="columns small-6" data-equalizer-watch><%= gallery.name %></div>
  <div class="columns small-3" data-equalizer-watch><%= l gallery.updated_at, format: :long %></div>
  <a href="#" data-context-button><%= fa_icon('ellipsis-h') %></a>
  <ul data-context-target>
    <li><%= link_to fa_icon('search fw', text: t('helpers.actions.show')), gallery_path(gallery), target: '_blank' %></li>
    <li><%= link_to fa_icon('edit fw', text: t('helpers.actions.edit')), edit_admin_gallery_path(gallery) %></li>
    <li><%= link_to fa_icon('trash-o fw', text: t('helpers.actions.destroy')), admin_gallery_path(gallery), data: {confirm: t('helpers.actions.confirm'), method: :delete } %></li>
  </ul>
</li>
