<% title t('.title') %>

<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>
<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>

<%= render 'filter' %>

<ul class="row items-list-header">
  <li class="columns small-3">
    <%= custom_check_box(:selection, :all_ids, {}, 1, nil) %>
    <%= sort_column :thumbnail, L::Gallery.human_attribute_name(:thumbnail), disabled: true %>
  </li>
  <li class="columns small-6"><%= sort_column :name, L::Gallery.human_attribute_name(:name) %></li>
  <li class="columns small-3"><%= sort_column :updated_at, L::Gallery.human_attribute_name(:updated_at) %></li>
</ul>

<% if @galleries.any? %>
  <%= render 'list' %>
<% end %>

<%#= L::Gallery.mass_actions_for_select %>
