<% title t('.title'), scope: :admin %>

<%= render 'filter' %>

<ul class="row items-list-header">
  <li class="columns small-3">
    <%= custom_check_box(:selection, :all_ids, {}, 1, nil) if @galleries.any? %>
    <%= sort_column :thumb, L::Gallery.human_attribute_name(:thumb), disabled: true %>
  </li>
  <li class="columns small-6"><%= sort_column :name, L::Gallery.human_attribute_name(:name) %></li>
  <li class="columns small-3"><%= sort_column :updated_at, L::Gallery.human_attribute_name(:updated_at) %></li>
</ul>

<% if @galleries.any? %>
  <%= render 'list' %>
<% elsif filtering? %>
  <div class="no-items">
    <%= t('.no_filtered_items_html') %>
  </div>
<% else %>
  <div class="no-items">
    <%= t('.no_items_html', link: new_admin_gallery_path) %>
  </div>
<% end %>
