<% title t('.title') %>
<% breadcrumbs_admin link_to(t('.title'), admin_galleries_path) %>

<p id="notice"><%= notice %></p>

<%= render partial: 'l/partials/switcher', object: @galleries %>
<ul class="items-list three-columns" data-page="<%= @galleries.current_page %>">
  <li class="header">
    <div class="group">
      <div><%= L::Gallery.human_attribute_name :thumb %></div>
      <div><%= L::Gallery.human_attribute_name :name %></div>
      <div><%= L::Gallery.human_attribute_name :content %></div>
    </div>
  </li>
  <% @galleries.each do |gallery| %>
  <li>
    <div class="group">
      <div class="select"><%= selection_tag gallery %></div>
      <div><%= image_tag(gallery.thumbnail, alt: gallery.name) unless gallery.thumbnail.nil? %></div>
      <div><%= gallery.name %></div>
      <div><%= short gallery.content %></div>
      <div class="options">
        <%= link_to t('helpers.actions.show'), admin_gallery_path(gallery), class: "show", title: t('helpers.actions.show'), target: '_blank' %>
        <%= link_to t('helpers.actions.edit'), edit_admin_gallery_path(gallery), class: "edit", title: t('helpers.actions.edit') %>
        <%= link_to t('helpers.actions.destroy'), admin_gallery_path(gallery), class: "destroy", title: t('helpers.actions.destroy'),
          data: {confirm: t('helpers.actions.confirm'), method: :delete } %>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<%= will_paginate @galleries %>
