<header class="panel-header">
  <hgroup>
    <h1>Logo</h1>
  </hgroup>
  <nav>
    <ul>
      <li><%= link_to fa_icon('home fw', text: t('.homepage')), root_path %></li>
      <li><%= link_to fa_icon('edit fw', text: t('.edit_homepage')), root_path %></li>
      <li class="separate">
        <%= link_to '#', data: {dropdown: 'user-menu'} do %>
          <%= fa_icon('user fw') %>
          <%= fa_icon('caret-down') %>
        <% end %>
        <ul id='user-menu' class='f-dropdown axis-right tiny text-left' data-dropdown-content>
          <li class="disabled"><%= content_tag :span, t('.logined', name: current_user.email) %></li>
          <li><%= link_to t('.profile'), edit_user_registration_path %></li>
          <li><%= link_to t('.logout'), destroy_user_session_path, data: {method: :delete} %></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
